
#work {
    text-align: center;
}
#myWork {
    margin-left: 50px;
    margin-right: 50px;
}
#caption {
    color: white;
    font-weight: bold;
}
.carousel-item {
    height: 600px;
  }
  
  .pics {
      position: absolute;
      top: 0;
      left: 0;
      min-height: 300px;
  }
P {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
}
.fa {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
  
  .fa:hover {
    opacity: 0.7;
  }
  
  .fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-instagram {
      background: purple;
      color: white;
  }
  .fa-github {
    background: #55ACEE;
    color: white;
  }

